*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  background: #e5e0e0;
  padding: 1em;
}


.app {
  padding: 1em;
  height: 100vh;
}



/* Messages.jsx */
.messages {
  height: 68vh;
  overflow-y: scroll;
  width: 100% !important;
}

/* MessageForm.jsx */
.message__form {
  position: fixed !important;
  z-index: 200;
  margin-left: 320px !important;
  left: 1em;
  bottom: 1em;
  right: 1em;
}

/* Messages.jsx */
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

/* Message.jsx */
.message__image {
  padding: 1em;
}

/* Progress Bar */
.progress__bar {
  margin: 0.3rem 0 0 0 !important;
}

/* Channels.jsx */
.menu {
  padding-bottom: 2em;
}