*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  background: #e5e0e0;
  padding: 1em;
}


.app {
  padding: 1em;
  height: 100vh;
}

.messages {
  height: 68vh;
  overflow-y: scroll;
  width: 100% !important;
}

.message__form {
  position: fixed !important;
  z-index: 200;
  margin-left: 320px !important;
  left: 1em;
  bottom: 1em;
  right: 1em;
}